<div class="add">
    <h1 style="height: fit-content; padding-top: 5 cm;">Add</h1> <hr>
    <div>
        <form action="/addk/addn" enctype="multipart/form-data" method="POST">
            <div> 
                <label for="name">Title</label> 
                <input type="text" id="name" placeholder="Title" 
                       value="" name="name" required> 
            </div>
            <div> 
                <label for="author">Author</label> 
                <input type="text" id="author" placeholder="Author" 
                       value="" name="author" required> 
            </div>
            <div> 
                <label for="year">Year</label> 
                <input type="text" id="year" placeholder="Year" 
                       value="" name="year" required> 
            </div>
            <div> 
                <label for="ISBN">ISBN</label> 
                <input type="text" id="ISBN" placeholder="ISBN" 
                       value="" name="ISBN" required> 
            </div>
            <div> 
                <label for="lokasi">Lokasi</label> 
                <input type="text" id="lokasi" placeholder="Lokasi" 
                       value="" name="lokasi" required> 
            </div>
            <div> 
                <label for="stok">Stok</label> 
                <input type="number" min="0" id="stok" placeholder="Stok" 
                       value="" name="stok" required> 
            </div>
            <div> 
                <label for="sinopsis">Sinopsis</label> 
                <textarea id="sinopsis" style="width: 500px;" name="sinopsis" value="" rows="5" 
                          placeholder="Sinopsis" required> 
                </textarea>
            </div>
            <div>
                <label for="status">Status: </label>
                <input type="radio" id="status" name="status" value="lokal"/> lokal
                <input type="radio" id="status" name="status" value="impor"/> impor
            </div>
            <div> 
                <label for="href">href</label> 
                <input type="href" id="href" placeholder="href" 
                       value="" name="href" required> 
            </div>
            <div> 
                <label for="image">Upload Image</label> 
                <input type="file" id="image" 
                       name="book" value="" required> 
            </div> 
            <div> 
                <button type="submit">Submit</button> 
            </div>
        </form>
    </div>
    <a href="./listk" class="btn btn-primary">Cancel</a>
</div>

<%- contentFor('title') %>
Add