<!--Promo-->
<div id="promo2"></div>
<div class="promo jumbotron-fluid">
<marquee behavior="alternate"><h1>PROMO DUGONG BOOKSTORE - OKTOBER 2020</h1></marquee>
<div class="container">
    <img src="/public/img/promo2.jpg" alt="" width="70%"> 
    <div class="snk">
        ** Syarat & Ketentuan : <br>
        <ul>
            <li>Selama persediaan masih ada (100 dugong/hari)</li>
            <li>Berlaku untuk 1x transaksi dalam 1 struk</li>
            <li>Tidak berlaku kelipatan </li>
            <li>Tidak dapat digabungkan dengan promo lain </li>
            <li>Periode 10-30 Oktober 2020</li>
        </ul>
    </div>
</div>
<div id="promo1"></div>
<div class="container">
    <img src="/public/img/promo1.jpg" alt="" width="70%"> 
    <div class="snk">
        ** Syarat & Ketentuan : <br>
        <ul>
            <li>Berlaku untuk 1x transaksi dalam 1 struk</li>
            <li>Tidak dapat digabungkan dengan promo lain</li>
            <li>Khusus buku terbitan Dugong Bookstore</li>
            <li>Periode 1-30 Oktober 2020</li>
        </ul>
    </div>
</div>
<div id="promo3"></div>
<div class="container">
    <img src="/public/img/promo3.png" alt="" width="90%">
    <div class="snk">
        ** Syarat & Ketentuan : <br>
        <ul>
            <li>Maksimal diskon hingga Rp. 100.000,00</li>
            <li>Tidak dapat digabungkan dengan promo lain </li>
            <li>Periode 13-27 Oktober 2020</li>
        </ul>
    </div>
</div>
</div>

<%- contentFor('title') %>
Promo Dugong