<div id="searcharea">
    <label for="search">Search Books</label>
    <p>Input Judul atau Author atau Tahun Terbit atau ISBN</p>
    <input type="search" name="search" id="search" placeholder="Judul / Author / Tahun / ISBN">
</div>

<div id="update">
</div>

<%- contentFor('title') %>
Search