html {
    scroll-behavior: smooth;
    transform: .5s;
}
/* Header */
.jumbotron {
    width: 100%;
    height: 100vh;  
}
.jumbotron .back {
    background-image: url(Image/Dugong.png);
    filter: blur(10px);
    /* -webkit-filter: blur(10px); */
    height: 100%; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .text {
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    border: 3px solid #dfdfdf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
/* Content */
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: black;
    opacity: 50%;
    transition: .5s;
}
.carousel-inner img{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.content {
    width: 100%;
    background-image: url(Image/background.jpg);
    background-size: 100%;
}
.container {
    width: 100%;
    padding: 50px 0;
}
.row {
    background-color: rgb(240, 224, 194);
    filter: opacity(80%);
    padding: 20px;
    margin: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    background-size: cover;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 120%;
}
.row h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    text-align: center;
}
.fitur {
    width: 40%;
    height: auto;
    border: 1px solid black;
    box-shadow: -10px -10px gray;
    margin: 50px 40px;
    padding: 10px;
}
.genre {
    width: 27%;
    margin:50px 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -5px 5px brown;
}
.review {
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    margin: 50px 40px;
    padding: 15px 15px;
    box-shadow: 10px 10px black;
}
/* Footer */
.footer {
    font-family: 'Nunito', sans-serif;
}
.container-fluid {
    background-color: teal;
    padding: 40px;
    letter-spacing: 2px;
    color: white;
}
/* responsive */
