html {
    scroll-behavior: smooth;
    transform: .5s;
}
/* Navbar */
nav {
    background: rgb(0,119,182);
    background: radial-gradient(circle, rgba(0,119,182,1) 10%, rgba(2,71,145,1) 71%, rgba(2,62,138,1) 82%);
    padding: 50px auto;
    font-family: 'Cantarell', sans-serif;
}
#logo {
    width: 70px;
}
.help {
    color: white;
}
/* Footer */
footer {
    font-family: 'Cantarell', sans-serif;
    font-size: 100%;
}
.container-fluid {
    background: rgb(0,119,182);
    background: radial-gradient(circle, rgba(0,119,182,1) 10%, rgba(2,71,145,1) 71%, rgba(2,62,138,1) 82%);
    padding: 40px;
    letter-spacing: 2px;
    color: white;
}
/* --Index-- */
.carousel {
    width: 90%;
    margin: 70px auto 20px auto;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: black;
    opacity: 50%;
    transition: .5s;
}
.carousel-inner img{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 50px 0;

}
.card {
    background: rgb(76,173,251);
    background: linear-gradient(58deg, rgba(76,173,251,1) 16%, rgba(173,232,244,1) 51%, rgba(72,202,228,1) 83%);
    width: 30%;
    height: auto;
    border: 1px solid #fcb9b2;
    border-radius: 10px;
}
.card img {
    margin: auto;
    width: 90%;
}
.subscribe {
    background-color: lightskyblue;
    padding: 40px 50px;
    text-align: center;
}
/* --PROMO-- */
.promo .container{
    width: 70%;
    background: radial-gradient(circle, rgba(76,173,251,1) 16%, rgba(173,232,244,1) 51%, rgba(72,202,228,1) 83%);
    padding: 30px;
    margin : auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color:navy;
    font-size: large;
}
.promo img{
    width: 80%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: transform 1s;
} 
.promo img:hover{
    transform: scale(1.1);
}
.promo marquee{
    width: 80%;
    display: block;
    margin : auto;
    margin-top: 5%;
    color:navy;
}
/* --Search-- */
#searcharea{
    margin: 70px auto 10px auto;
    text-align: center;
    background: #ab9fd4;
    padding: 50px 150px;
    width: 100%;
}
#searcharea label{
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #ffffff;
}
#searcharea p{
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    line-height: 1em;
    padding-bottom: 5px;
}
#searcharea input{
    width: 80%;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
}
#update{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70%;
    margin: 0 auto;
    border-top: 1px dotted blue;
}
#update ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#update ul li{
    width: 100%;
    padding: 0 20px;
    padding-bottom: 10px;
    height: 110px;
    overflow: hidden;
    border-bottom: 1px dotted blue;
    -webkit-animation: myanim 1s;
    -webkit-transition: height 0.3s ease-out;

}
#update li:hover{
    background: #fffce5;
    min-height: 110px;
    height: 250px;
    overflow: visible;
}
#update h2{
    margin: auto;
    padding: 0;
    font-size: 1.7em;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    color: #000000;
    border-bottom: 1px dotted blue;
    margin-bottom: auto;
}
@-webkit-keyframes myanim{
    0%{opacity: 0.3;}
    100%{opacity: 1.0;}
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto ;
    width: 300px;
    height: 380px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
} 
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}
/* Position the front and back side */
.flip-card-front, .flip-card-back {

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
/* Style the back side */
.flip-card-back {
    background-color: #fd8578;
    color: white;
    transform: rotateY(180deg);
    font-family: 'Righteous', cursive;
}
/* --Komik/Novel-- */
.card_book {
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_book img {
    margin: auto;
    width: 100%;
    height: 100%;
}
.card_book_main {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card_book_front, .card_book_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.card_book_back {
    background-color: #fd8578;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    justify-self: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: 5px;
    font-family: 'Cantarell', sans-serif;
}
.card_book:hover .card_book_main {
    transform: rotateY(180deg);
} 
/* dets */
.det {
    margin: 100px;
}
.checked {
    color: gold;
}
.col pre {
    white-space: pre-wrap;
}
@media screen and (max-width: 400px){
    .card {
        width: 70%;
    }
    .carousel {
        width: 100%;
    }
    .promo {
        margin-top: 70px;
    }
    marquee h1{
        font-size: large;
    }
    .promo img {
        width: 100%;
        margin: 5px;
    }
    .promo img:hover{
        transform: scale(2.0);
    }
    .card_book {
        width: 250px;
        height: 400px;
    }
    .card_book_back h2{
        font-size: x-large;
    }
    #searcharea {
        padding: 10px;
    }
    .flip-card {
        width: 250px;
    }
    .det {
        margin: 80px 20px;
    }
    .col {
        margin: 20px;
    }
}
@media screen and (min-width: 400px){
    .promo {
        margin-top: 70px;
    }
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
    .det {
        margin: 80px 20px;
    }
    .col {
        margin: 20px;
    }
    .col-lg-3 {
        width: 200px;
    }
}
@media screen and (max-width: 299px) {
    .col-lg-3 {
        width: 200px;
        margin: auto;
    }
}