<div class="det">
    <div class="judul my-5">
        <h3>Boruto: Naruto Next Generations, Vol. 2</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ki1.png" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Boruto: Naruto Next Generations, Vol. 2
<b>Author</b>      : Masashi Kishimoto (Creator), Mikio Ikemoto (Illustrator)
<b>Tahun</b>       : 2017
<b>ISBN</b>        : 9781421595849
<b>Lokasi</b>      : D1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Boruto gets through round two of the Chunin Exam 
            and receives praise from his father. But what Naruto 
            doesn’t know is that his son is cheating by using 
            prohibited ninja tools. What will happen to Boruto 
            when the truth is revealed? Meanwhile, darker forces 
            are advancing behind the scenes…</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail