<div class="det">
    <div class="judul my-5">
        <h3>One-Punch Man, Vol. 21</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ki2.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : One-Punch Man, Vol. 21
<b>Author</b>      : ONE (Creator), Yusuke Murata (Illustrator)
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9781974717644
<b>Lokasi</b>      : D1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Immediately before the big Monster Association 
            battle, the Class-S heroes hold a strategy meeting. 
            Unfortunately, they just aren’t in sync, and when Amai 
            Mask barges in, the situation only gets worse. 
            Thankfully, King appears just in time to boost their 
            morale—and it’s a good thing, too, because the big 
            monster battle begins!</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail