<div class="det">
    <div class="judul my-5">
        <h3>Attack on Titan 1</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ki3.png" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Attack on Titan 1
<b>Author</b>      : Hajime Isayama
<b>Tahun</b>       : 2012
<b>ISBN</b>        : 9781612620244
<b>Lokasi</b>      : D1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>In this post-apocalytpic sci-fi story, humanity 
            has been devastated by the bizarre, giant humanoids 
            known as the Titans. Little is known about where they 
            came from or why they are bent on consuming mankind. 
            Seemingly unintelligent, they have roamed the world 
            for years, killing everyone they see. For the past 
            century, what’s left of man has hidden in a giant, 
            three-walled city. People believe their 50-meter-high 
            walls will protect them from the Titans, but the sudden 
            appearance of an immense Titan is about to change 
            everything.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>


<%- contentFor('title') %>
Detail