<div class="det">
    <div class="judul my-5">
        <h3>My Hero Academia, Vol. 1</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ki4.png" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : My Hero Academia, Vol. 1
<b>Author</b>      : Kohei Horikoshi
<b>Tahun</b>       : 2015
<b>ISBN</b>        : 9781421582696
<b>Lokasi</b>      : D1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Middle school student Izuku Midoriya wants to be 
            a hero more than anything, but he hasn’t got an ounce of 
            power in him. With no chance of ever getting into the 
            prestigious U.A. High School for budding heroes, his life 
            is looking more and more like a dead end. Then an 
            encounter with All Might, the greatest hero of them all, 
            gives him a chance to change his destiny…</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail