<div class="det">
    <div class="judul my-5">
        <h3>Fairy Tail, Vol. 6</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ki6.png" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Fairy Tail, Vol. 6
<b>Author</b>      : Hiro Mashima
<b>Tahun</b>       : 2011
<b>ISBN</b>        : 9781612620992
<b>Lokasi</b>      : D1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Hotshot Natsu and his cool rival Gray are 
            fighting to stop a calamity demon from being revived 
            by Gray's fellow disciple Lyon and Zalty, a master of 
            Lost Magic. But while they try to defeat the bad guys, 
            the magical ice binding the demon keeps melting. Then a 
            grudge between Fairy Tail and a rival guild turns to 
            all-out war!</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail