<div class="det">
    <div class="judul my-5">
        <h3>Komik KKPK : Hacker Cilik</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/kl1.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Komik KKPK : Hacker Cilik
<b>Author</b>      : Abdurrahman Aufa Liamrillah, dkk.
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9786232540439
<b>Lokasi</b>      : C1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Aufa adalah seorang anak laki-laki.Umurnya baru 10 
            tahun. Dia ramah, rajin,dan supel. Sayangnya, Aufa 
            terkadang kudet, alias kurang update! Dia hanya tahu 
            internet dari game online."Sekarang, teknologi sudah 
            canggih dan internet lagi marak-maraknya. Masa, FB saja 
            kamu enggak punya?" ledek Tavia, teman sekelasnya. Aufa 
            kesal diledek terus oleh Tavia dan teman-temannya yang 
            lain. Dalam hati, Aufa bertekad akan mencaritahu lebih 
            jauh tentang internet. Lihat saja!</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail