<div class="det">
    <div class="judul my-5">
        <h3>Why? Veterinary Medicine</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/kl2.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Why? Veterinary Medicine
<b>Author</b>      : YeaRimDang
<b>Tahun</b>       : 2019
<b>ISBN</b>        : 9786230005930
<b>Lokasi</b>      : C1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Apakah kita mengetahui informasi medis dan 
            pengetahuan dasar tentang hewan? Alangkah baiknya 
            jika hewan yang tinggal bersama kita dapat hidup tanpa 
            terjangkit penyakit. Tapi, sama halnya dengan manusia, 
            seekor hewan tidak mungkin dapat hidup tanpa terkena 
            penyakit satu kali pun. Saat kucing yang biasanya sehat 
            tiba-tiba sakit, jika kita tidak memahami gejala yang 
            ditunjukkan dan memberikan diagnosis yang salah, kita 
            bisa memperburuk penyakitnya. <br><br>
            
            Mengobati dan mencegah penyakit pada hewan, menjaga 
            kebersihan, hingga memelihara ternak semuanya diteliti 
            dan dipelajari dalam ilmu kedokteran hewan. Sejarah ilmu 
            kedokteran hewan sudah sangat tua. Hewan yang digunakan 
            untuk membantu kegiatan pertanian atau yang dikonsumsi 
            haruslah sehat agar manusia bisa hidup dengan aman. 
            Karena itulah peran ilmu kedokteran hewan sangat penting 
            dalam keberlangsungan hidup manusia dan hewan. Selain 
            mengobati hewan di Rumah Sakit Hewan, bidang yang dicakup 
            oleh ilmu ini lebih luas dari yang kita bayangkan. Dokter 
            hewan juga merawat hewan liar yang terancam bahaya, 
            hingga melakukan pemeriksaan dan karantina pada makanan 
            olahan yang masuk dari luar negeri.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail