<div class="det">
    <div class="judul my-5">
        <h3>Nobita dan pulau keajaiban</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/kl3.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Nobita dan pulau keajaiban
<b>Author</b>      : Fujiko F. Fujio
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9786230019524
<b>Lokasi</b>      : C1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Nobita dkk. berkunjung ke suatu pulau ajaib, 
            tempat para fauna yang telah punah dilestarikan kembali. 
            Pulau tersebut dilindungi oleh kekuatan seekor kumbang 
            badak emas yang disebut Golden Hercules. Nobita pun 
            bertemu dengan anak laki-laki seumurannya yang bernama 
            Dakke. Namun, tiba-tiba muncul gerombolan pemburu jahat 
            Sharman yang mengincar Sang Kumbang Emas. Mampukah 
            melindungi mimpi dan keajaiban pulau tersebut!?</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail