<div class="det">
    <div class="judul my-5">
        <h3>Light Novel Detektif Conan: Captured in Her Eyes</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/kl4.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Light Novel Detektif Conan: Captured in Her Eyes
<b>Author</b>      : Aoyama Gosho
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9786230020681
<b>Lokasi</b>      : C1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Terjadi kasus penembakan berantai anggota 
            kepolisian. Di dalam situasi seperti itu, listrik pada 
            aula pesta tempat para anggota kepolisian berkumpul 
            padam dan detektif Sato yang sedang berada di toilet 
            saat itu tertembak. Ran yang kebetulan berada bersama 
            detektif Sato melihat pelakunya! Namun, Ran mengalami 
            shock karena menganggap tertembaknya detektif Sato 
            adalah kesalahannya, sehingga kehilangan ingatan dan 
            tidak dapat mengingat keluarga maupun dirinya sendiri! 
            Dan lagi, kali ini pelaku mengincar nyawa Ran! Conan pun 
            terus melakukan penyelidikan seorang diri karena pelakunya 
            harus segera ditangkap. Tapi apa Conan dapat melindungi 
            Ran hingga akhir!?</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail