<div class="det">
    <div class="judul my-5">
        <h3>Si Juki dan Mang Awung 2</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/kl5.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Si Juki dan Mang Awung 2
<b>Author</b>      : Faza Ibnu Ubaydillah Salman
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9786230020308
<b>Lokasi</b>      : C1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p><br><br> Ada-ada aja ulah Mang Awung yang bikin Si Juki 
            sebel... <br>

            Walaupun begitu, pertemanan mereka semakin dekat. <br>

            Ayo, nikmati kisah keseharian Si Juki dan Mang Awung. <br>

            Semoga tetap bikin pembaca senang dan terhibur...</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail