<div class="det">
    <div class="judul my-5">
        <h3>Six of Crows</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ni1.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Six of Crows
<b>Author</b>      : Leigh Bardugo
<b>Tahun</b>       : 2015
<b>ISBN</b>        : 9781627795098
<b>Lokasi</b>      : B1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Ketterdam: a bustling hub of international trade 
            where anything can be had for the right price—and no one 
            knows that better than criminal prodigy Kaz Brekker. Kaz 
            is offered a chance at a deadly heist that could make 
            him rich beyond his wildest dreams. But he can’t pull 
            it off alone. . . .

            A convict with a thirst for revenge
            A sharpshooter who can’t walk away from a wager
            A runaway with a privileged past
            A spy known as the Wraith
            A Heartrender using her magic to survive the slums
            A thief with a gift for unlikely escapes
            
            Kaz’s crew is the only thing that might stand between 
            the world and destruction—if they don’t kill each other 
            first.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail