<div class="det">
    <div class="judul my-5">
        <h3>Crooked Kingdom</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ni2.png" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Crooked Kingdom
<b>Author</b>      : Leigh Bardugo
<b>Tahun</b>       : 2016
<b>ISBN</b>        : 9781250119315
<b>Lokasi</b>      : B1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Welcome to the world of the Grisha.

            Kaz Brekker and his crew of deadly outcasts have just 
            pulled off a heist so daring even they didn't think 
            they'd survive. But instead of divvying up a fat reward, 
            they're right back to fighting for their lives.

            Double-crossed and badly weakened, the crew is low on 
            resources, allies, and hope. As powerful forces from 
            around the world descend on Ketterdam to root out the 
            secrets of the dangerous drug known as jurda parem, old 
            rivals and new enemies emerge to challenge Kaz's cunning 
            and test the team's fragile loyalties.

            A war will be waged on the city's dark and twisting 
            streets - a battle for revenge and redemption that will 
            decide the fate of the Grisha world.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail