<div class="det">
    <div class="judul my-5">
        <h3>Cinder</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ni3.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Cinder
<b>Author</b>      : Marissa Meyer
<b>Tahun</b>       : 2013
<b>ISBN</b>        : 9781250007209
<b>Lokasi</b>      : B1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Humans and androids crowd the raucous streets of 
            New Beijing. A deadly plague ravages the population. 
            From space, a ruthless Lunar people watch, waiting to 
            make their move. No one knows that Earth’s fate hinges 
            on one girl. . . . Cinder, a gifted mechanic, is a cyborg.

            She’s a second-class citizen with a mysterious past, 
            reviled by her stepmother and blamed for her stepsister’s 
            illness. But when her life becomes intertwined with the 
            handsome Prince Kai’s, she suddenly finds herself at the 
            center of an intergalactic struggle, and a forbidden 
            attraction. Caught between duty and freedom, loyalty and 
            betrayal, she must uncover secrets about her past in 
            order to protect her world’s future.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail