<div class="det">
    <div class="judul my-5">
        <h3>Scarlet</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ni4.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Scarlet
<b>Author</b>      : Marissa Meyer
<b>Tahun</b>       : 2014
<b>ISBN</b>        : 9781250007216
<b>Lokasi</b>      : B1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Cinder returns in the second thrilling installment 
            of the New York Times-bestselling Lunar Chronicles.
            She’s trying to break out of prison—even though if she 
            succeeds, she’ll be the Commonwealth’s most wanted 
            fugitive. Halfway around the world, Scarlet Benoit’s 
            grandmother is missing. It turns out there are many 
            things Scarlet doesn’t know about her grandmother and 
            the grave danger she has lived in her whole life.
            When Scarlet encounters Wolf, a street fighter who may 
            have information as to her grandmother’s whereabouts, 
            she has no choice but to trust him, though he clearly 
            has a few dark secrets of his own. As Scarlet and Wolf 
            work to unravel one mystery, they find another when they 
            cross paths with Cinder. Together, they must stay one 
            step ahead of the vicious Lunar Queen who will do 
            anything to make Prince Kai her husband, her king, her 
            prisoner.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail