<div class="det">
    <div class="judul my-5">
        <h3>Winter</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/ni6.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Winter
<b>Author</b>      : Marissa Meyer
<b>Tahun</b>       : 2018
<b>ISBN</b>        : 9781250007209
<b>Lokasi</b>      : B1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Princess Winter is admired for her grace, kindness 
            and beauty, despite the scars on her face. She's said to 
            be even more breath-taking than her stepmother, Queen 
            Levana...

            When Winter develops feelings for the handsome palace 
            guard, Jacin, she fears the evil Queen will crush their 
            romance before it has a chance to begin.

            But there are stirrings against the Queen across the 
            land. Together with the cyborg mechanic, Cinder, and her 
            allies, Winter might even find the power to launch a 
            revolution and win a war that's been raging for far too 
            long.

            Can Cinder, Scarlet, Cress, and Winter claim their 
            happily ever afters by defeating Levana once and for all?</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail