<div class="det">
    <div class="judul my-5">
        <h3>Laskar Pelangi</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/nl2.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Laskar Pelangi
<b>Author</b>      : Andrea Hirata
<b>Tahun</b>       : 2005
<b>ISBN</b>        : 9793062797
<b>Lokasi</b>      : A1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Novel berjudul Laskar Pelangi ini adalah novel 
            pertama dari serangkaian tetralogi milik Andrea Hirata. 
            Secara garis bersar, novel ini bercerita kehidupan 
            kanak-kanak beberapa bocah di Belitong. Andrea Hirata 
            memulainya dengan kisah miris dunia pendidikan di 
            Indonesia dimana sebuah sekolah yang kekurangan murid 
            hendak ditutup. Sekolah tersebut adalah SD Muhammadiyah 
            di Gantung Belitung Timur.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail