<div class="det">
    <div class="judul my-5">
        <h3>MetroPop: Ganjil Genap</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/nl4.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : MetroPop: Ganjil Genap
<b>Author</b>      : Almira Bastar
<b>Tahun</b>       : 2020
<b>ISBN</b>        : 9786020638010
<b>Lokasi</b>      : A1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>Gimana rasanya diputusin setelah berpacaran selama 
            tiga belas tahun?

            Hidup Gala yang mendadak jomblo semakin runyam ketika 
            adiknya kebelet nikah! Gala bertekad pantang lajang 
            menjelang umur kepala tiga. Bersama ketiga sahabatnya, 
            Nandi, Sydney, dan Detira, strategi pencarian jodoh pun 
            disusun. Darat, udara, bahkan laut "disisir" demi 
            menemukan pria idaman.

            Akankah Gala berhasil menemukan pasangan untuk menggenapi 
            hari-hari ganjilnya?</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail