<div class="det">
    <div class="judul my-5">
        <h3>Cara Berbahagia Tanpa Kepala</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/nl5.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Cara Berbahagia Tanpa Kepala
<b>Author</b>      : Triskaidekaman
<b>Tahun</b>       : 2019
<b>ISBN</b>        : 9786020629933
<b>Lokasi</b>      : A1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>CARA MELEPAS KEPALA:
            1. Buka lilitan ritsleting yang meliliti jakun.
            2. Ceraikan baut dari mur hingga talak delapan.
            3. Telan dan tahan ludah dalam-dalam.
            4. Tekan kedua tombol penghambat laju aliran darah 
            secara bersamaan.
            5. Pegangi kedua kuping, lalu tarik kepala ke atas 
            dengan keras hingga terlepas.

            Sempati merasa kepalanya tak memberi solusi atas ragam 
            persoalan. Kepalanya justru merepotkan, hingga 
            membuatnya turut program Bebaskan Kepalamu yang 
            memungkinkan untuk menceraikan sementara kepalanya. 
            Tanpa diduga kepala itu menghilang. Bahagiakah Sempati 
            hidup tanpa kepala?</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail