<div class="det">
    <div class="judul my-5">
        <h3>Nanti Kita Cerita tentang Hari Ini</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center mx-5">
            <img src="/public/img/nl6.jpg" alt="fer" class="w-100">
        </div>
        <div class="col my-3">
            <h4>Details</h4>
            <pre>
<b>Judul</b>       : Nanti Kita Cerita tentang Hari Ini
<b>Author</b>      : Marchella FP
<b>Tahun</b>       : 2018
<b>ISBN</b>        : 9786024248215
<b>Lokasi</b>      : A1
<b>Stok</b>        : 100
            </pre>
        </div>
    </div> <hr>
    <div class="row my-5 w-75 mx-5">
        <h4>Sinopsis</h4>
        <p>"Nanti kita cerita tentang hari ini... 
            Besok kita buat yang lebih baik lagi." @nkcthi

            Buku visual grafis, yang menceritakan tentang perempuan 
            bernama Awan (27th) yang takut akan lupa rasanya menjadi 
            muda, jadi dia membuat surat yang dia kirim untuk masa 
            depan. Sebagai pengingat untuk dia dan anaknya kelak.
            Berisikan kumpulan pesan dan cerita dari yang ia hadapi 
            dan lihat. Awan mencoba sederhanakan dari pelajaran 
            yang dia hadapin di masa mudanya.</p>
    </div> <hr>
    <div class="row mx-5">
        <h4>Rating</h4> <hr>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
        <span class="fa fa-star checked my-auto"></span>
    </div>
</div>

<%- contentFor('title') %>
Detail